# Firebase Storage URLs
NEXT_PUBLIC_LOGO_URL=https://firebasestorage.googleapis.com/v0/b/studio-1487114664-78b63.firebasestorage.app/o/ptlogo2.png?alt=media
NEXT_PUBLIC_PROFILE_PHOTO_URL=https://firebasestorage.googleapis.com/v0/b/studio-1487114664-78b63.firebasestorage.app/o/fotodeperfil.jpg?alt=media
